body{
  background-color: var(--back-color);
}
/* main */
main{
  border-top-left-radius: 25px;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 56px;
  width: calc(100% - 16px - 57px);
  min-height: 100vh;
  overflow-y: scroll;
}
main #back-img{
  width: 100%;
  height: 118px;
  overflow: hidden;
  border-top-left-radius: 25px;
}
main #back-img img{
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
}
/* main title */
section.title{
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}
section.title h1 a{
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}
section.title h1 a span.badge{
  display: block;
  width: 20px;
  height: 20px;
}
section.title h1 a span.more-btn{
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
}
section.title h1 a span img{
  display: block;
  width: 100%;
  height: auto;
}
section.title .member-state{
  display: flex;
  align-items: center;
  gap: 8px;
}
section.title .member-state p{
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 1.5rem;
  color: var(--txt3-color);
}
section.title .member-state span{
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
section.title .btn-box{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
}
section.title .btn-box a{
  border-radius: 30px;
  height: 30px;
  border: 1px solid var(--border-color);
}
section.title .btn-box a.search-btn{
  flex: 0 1 calc(100% - 60px - 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 1.4rem;
  font-weight: 700;
}
section.title .btn-box a.search-btn span.search-icon{
  display: block;
  width: 20px;
  height: 20px;
  background: url('../../img/search.svg') no-repeat center / 100%;
}
section.title .btn-box a.plus-btn{
  flex: 0 0 30px;
  background: url('../../img/30x30.svg') no-repeat left top / auto;
}
section.title .btn-box a.schedule-btn{
  flex: 0 0 30px;
  background: url('../../img/30x30.svg') no-repeat -30px top / auto;
}
/* main server gide */